* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3f4f6;
  color: #111827;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}
